{% extends 'base.html'%}

{% block contenido %}

<div class="container">
    <div class="error-container">
        <h1 class="mt-4">Error 404</h1>
        <p class="lead">Lo sentimos, la página que estás buscando no se encuentra. Merlin</p>
        <img src="{{ url_for('static', filename='img/error_404.jfif') }}" alt="Mi Imagen" class="img-fluid">
        <br><br>
        <a href="/" class="btn btn-primary">Volver a la página principal</a>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Color de fondo */
    }

    .error-container {
        text-align: center;
        margin-top: 50px;
    }

    .error-image {
        max-width: 100%;
        height: auto;
    }
</style>

{% endblock%}


