{% extends 'base.html'%}

{% block contenido %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">Registros de Clientes Merlin</h1>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Celular</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                        <tr>
                            <td>{{ registro.cedula }}</td>
                            <td>{{ registro.nombres }}</td>
                            <td>{{ registro.celular }}</td>
                            <td>{{ registro.direccion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    body {
        background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
        color: #8B0000; /* Cambia el color del texto según tus preferencias */
    }

    .card {
        background-color: #8B0000; /* Cambia el color de fondo del card según tus preferencias */
        color: #fff; /* Cambia el color del texto del card según tus preferencias */
        margin-top: 50px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #8B0000; /* Cambia el color del borde según tus preferencias */
        padding: 8px;
        text-align: left;
        background-color: #fafafa; /* Cambia el color de fondo según tus preferencias */
        color: #8B0000; /* Cambia el color del texto según tus preferencias */
    }

    th {
        background-color: #BD0D0D; /* Cambia el color de fondo del encabezado según tus preferencias */
    }
</style>




{% endblock %}

